/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/

@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Oswald');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: Oswald, helvetica, arial, sans-serif;
}
html, body{
    background-color: #434B61;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #5D6887;
    color: black;
}
header{
    border-bottom: 0.8rem solid black;
    background-color: #6E7CA1;
    color: black;
}
.menu-h{ 
}
    .menu-h li{
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
		background-color: #9CA1AD;
		list-style-type: none;
		border: 2px solid #555; 
		width: 20%;
		float: left; 
		
    }
        .menu-h a{
			display: block; 
			color: black;
			text-align: center;	
			text-decoration: none;
			padding: 0;
		}
		
        .menu-h a:link,
        .menu-h a:visited{
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
        }
        .menu-h a:hover,
        .menu-h a:active{
            background-color: #7C84ED;
        }
.menu-v{
	width: 20%;
	float: left;
}
    .menu-v li{
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
		background-color: #9CA1AD;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
        .menu-v a{
			display: block;
			color: #000;
			padding: 0;
			margin: 0;
			text-decoration: none;
			border: 2px solid #555;
		}
        .menu-v a:link,
        .menu-v a:visited{
            /* style the anchors to fill the entire width of the li */
			width: 100%;
        }
        .menu-v a:hover, 
        .menu-v a:active{
            background-color: #7C84ED;
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}